<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/barre_nav_view_component.css" />
    <link
      rel="stylesheet"
      href="/css/barre_nav_not_online_view_component.css"
    />
    <link rel="stylesheet" href="/css/profil_view_component.css" />
  </head>
  <body>
    <% if(true){ %> <%- include('bar_nav_online_view_component.ejs')%>
    <%}else{%> <%- include('bar_nav_not_online_view_component.ejs')%> <%}%>
    <div id="container_profil_div">
      <div id="profil_user_container_div">
        <div id="img_user_container_div">
            <img name="img_personnage_authentification_img" id="img_personnage_authentification_img" src="/avatar_user/<%=user_session.avatar_user%>" alt="" srcset="" />
        </div>
        <div id="account_profil_user_container_div">
          <div id="info_profil_user_container_div">
            <div id="firsname_profil_user_container_div">
              <%= user_session.lastname_user%>
            </div>
            <div id="update_profil_user_container_div">Modifier Profil</div>
          </div>
          <div id="follow_profil_user_container_div">
            <div id="publications_profil_user_container_div">
              9 publications
            </div>
            <div id="subscribers_profil_user_container_div">28 abonnés</div>
            <div id="subscriptions_profil_user_container_div">
              120 abonnements
            </div>
          </div>
        </div>
      </div>

      <!--MENU PROFIL-->
      <div id="menu_profil_user_container_div">
        <div id="post_img_profil_user_container_div">PUBLIER IMAGE OU VIDEO</div>
        <div id="post_img_profil_user_container_form">
          <form action="/post_img_form" method="post" enctype="multipart/form-data">
            <label for="post_img_inp"></label>
            <input type="file" id="post_img_inp" name="post_img_inp">
            <button type="submit" style="cursor: pointer; height:100%;background-color: white; border: 1px solid rgb(0, 195, 255)" >Poster un evement ( img ou vidéo )</button>
          </form>
        </div>
      </div>

    
      <!--IMAGE PROFIL-->
      <div id="publications_account_profil_user_container_div">

        <%result_post.forEach(function(link){%>

          <%if(link.mimetype ===  'image/jpeg' || link.mimetype ===  'image/png'){%>
            <div id="img_publications_account_profil_user_container_div" class="article_publications_account_profil_user_container_div">
                <img id="img_post" src="/post_img_user/<%=link.filename_post%>" alt="" srcset="">
                <span id="img_post_delete">X</span>
            </div>
          <%}%>

          <%if(link.mimetype ===  'video/mp4'){%>
            <div id="img_publications_account_profil_user_container_div" class="article_publications_account_profil_user_container_div">
                <video type="video/mp4" id="video_post" src="/post_img_user/<%=link.filename_post%>" controls></video>
                <span id="video_post_delete">X</span>
            </div>
          <%}%>
          
        <%})%>
        <div id="video_publications_account_profil_user_container_div" class="article_publications_account_profil_user_container_div">
            <img src="" alt="" srcset="">
        </div>
      </div>

    </div>
    <script src="/js/Ajax_profil_view_component.js"></script>
  </body>
</html>
